body{
  width: 50%;
  margin: 0 auto;
  background-color: green;
}

h1 {
  text-align: center;
  line-height: 100px;
  margin: 0;
}

section{
  background-color: bisque;
  margin-top: 20px;
  padding: 10px 50px 50px 50px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
 }

article{
  border: 5px solid blue;
  padding: 10px 30px 30px 30px;
  margin: 0px 10px 10px 10px;
  width: 80%; 
  flex-basis: 200px;  /*cada caja mide 200px de alto (porque el eje principal de su contenedor es vertical, en columna)*/
}

.flex-container {
    display: flex;
    /* Distribución del espacio sobrante en la fila */
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
  }

.fila {
  /* La dirección es en fila y se permite el desbordamiento (los elementos que no caben se van a la siguiente línea)
     Es lo mismo que especificarlas por separado:
     flex-direction: row;
     flex-wrap: wrap;
    */
    flex-flow: row wrap;
}

.columna {
  flex-flow: column wrap;
}

.columna-al-reves{
  flex-direction: column-reverse;
}

.flex-item {
  background:azure;
  padding: 5px;
  flex-basis: 100px;
  margin-top: 10px;
  line-height: 50px;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.nowrap{
  /* Los elementos que no caben se desbordan, es decir, el contenedor no cambia de tamaño, así que las cajas no pueden pasar a la siguiente línea y se salen del contenedor (se desbordan) */
  flex-flow: nowrap; 
}

.fila-al-reves{
  flex-direction: row-reverse;
}

/*Última caja*/
.navigation {
  display: flex;
  flex-flow: row wrap;
  /* Alineo los elementos al final */
  justify-content: flex-end;
  list-style: none;
  margin: 0; 
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565C0;
}