body{
  width: 50%;
  margin: 0 auto;
  background-color:antiquewhite;
}

section{
  background-color: green;
  margin-top: 20px;
  padding: 10px 50px 50px 50px;
  display: flex;
/*  align-items: center;*/
  /* Cajas centradas */
  justify-content: center;
  flex-flow: row wrap;
 }

article{
  border: 5px solid blue;
  padding: 10px 30px 30px 30px;
  margin: 0px 10px 10px 10px;
  height: 10%;
  flex-basis: 25%; /*cada caja mide un 25% de la anchura de su contenedor (porque el eje principal de su contenedor es horizontal, en fila)*/
  text-align: center;
}

li:nth-of-type(1){
  /* El primer li de cada caja encogerá el doble que el resto cuando no haya espacio suficiente y no se puedan reubicar los elementos */
  flex-shrink: 2;
}

li:nth-of-type(2){
  /* El segundo li de cada caja crecerá el doble que el resto cuando haya espacio suficiente. Siempre lo habrá si se permite reubicar */
  flex-grow: 2;
}

h1 {
  text-align: center;
  line-height: 100px;
  margin: 0;
}

.flex-container {
    display: flex;
    /* Distribución del espacio sobrante en la fila */
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
  }

.fila {
    /*Equivalente a dos instrucciones:
      flex-direction: row;
      flex-wrap: wrap;
    */
    flex-flow: row wrap;

}

.columna {
  flex-flow: column wrap;
}

.columna-al-reves{
  flex-direction: column-reverse;
}

.flex-item {
  background:azure;
  padding: 5px;
  flex-basis: 100px;
  margin-top: 10px;
  line-height: 50px;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  border: 2px blue solid;
}

.nowrap{
  flex-flow:  nowrap; 
}

.fila-al-reves{
  flex-direction: row-reverse;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  /* Alineo los elementos al final */
  justify-content: flex-end;
  list-style: none;
  margin: 0; 
  background:crimson;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565C0;
}

