body{
    width: 80%;
    margin: 0 auto;
    background-color:rgb(234, 230, 224);
}

section > *{
    background-color:rgb(232, 204, 161);
    border: 1px solid rgb(234, 157, 41);
}

/*  En vez de decirle dónde colocarse especificando fila y columna, vamos a darle nombre a las áreas con grid-area
     Luego tendré que especificar dónde va cada área en la malla   */
header{
    grid-area: en;
}

nav{
    grid-area:nav;
}

.contenido{
    grid-area: con;
}

sidebar{
    grid-area: lat;
}

footer{
    grid-area:pie;
}

.grid-general{
    display: grid;
    /*  No es necesario definir la malla (cuántas filas o columnas hay), porque se crean automáticamente al colocar las áreas 
     grid-template-columns: repeat(9, 1fr);*/
    border: 2px solid rgb(174, 127, 127);
}

/*  Esto no es de grid, es media queries. Controlo cómo se ve en función del tamaño de la zona de visualización */
@media (max-width: 500px) {
    .grid-general {
        /*  Aquí uso los nombres de las áreas que he creado antes para indicar que hay 9 columnas y 3 filas y dónde va cada área */
        grid-template-areas:
          "en en en en   en   en   en   en   en"
          "con con con con con con con con con"
          "pie pie pie  pie  pie   pie   pie   pie   pie";
    }
    /* Para esta resolución no se muestra ni nav ni sidebar (aunque existen, no se puede borrar un elemento del DOM con CSS) */
    nav{
        display:none;
    }
    sidebar{
        display:none;
    }
}  

@media (min-width: 501px) and (max-width: 700px) {
    .grid-general {
      grid-template-areas:
        "en en en en   en   en   en   en   en"
        "lat lat lat con con con con con con"
        "pie pie pie  pie  pie   pie   pie   pie   pie";
    }
    nav{
        display:none;
    }
  }

@media (min-width: 701px) {
    .grid-general {
        grid-auto-rows: minmax(75px, auto); /*Las filas auto creadas son de entre 75px y el máximo de la anchura del contenedor*/
        grid-template-areas:
            "en en en en en en en en en"
            "nav nav nav nav nav nav nav nav nav"
            "lat lat con con con con con con con"
            "lat lat con con con con con con con"
            "lat lat con con con con con con con"
             "pie pie pie pie pie pie pie pie pie";
    }
}
  