body {
  /*position:relative;*/
    width: 500px;
    margin: 0 auto;
  }
  
  p {
    background: rgba(255, 84, 104, 0.3);
    border: 2px solid rgb(255, 84, 104);
    padding: 10px;
    margin: 10px;
  }
  
  span {
    background: white;
    border: 1px solid black;
  }
  
  .relativo {
    position: relative;
    background: yellow;
    top: 30px;
    left: 30px;
  }
  
  #absoluto{
    position: relative;
  }

  .absoluto {
    position: absolute;
    background: greenyellow;
    top: 30px;
    left: 30px;
  }

  .pegajoso {
    position: sticky;
    top: 0px;
    left: 0px;
  }
  

  /*div:nth-of-type(2) {
    z-index: 1;
  }*/

  div:nth-of-type(1) {
    z-index: 2;
  }

  h1{
    margin:0;
    z-index:1; /*no tiene efecto porque su posicionamiento es estático (por defecto)*/

  }