/*IMPORTACIÓN DE FICHEROS
Ahora podemos separar los css fácilmente*/
@import 'funciones';
@import 'variables';


//Uso de variables definidas en _variables.scss
body{
  background-color: $color-fondo;
  color: $color-texto;
}

/*MIXINS
Los Mixins permiten reutilizar el mismo código css en diferentes partes invocándolo por su nombre. Permiten usar argumentos 
En este se ha usado una función (mas Oscuro)
*/
  @mixin formato-texto($tamanyo) {
    text-align: center;
    color: masOscuro($color-texto2);
    font-weight: bold;
    font-size: $tamanyo;
  }

  //Aquí invoco al mixin en dos partes distintas del código
  main > p, footer > p{
    @include formato-texto(1.25em);
  }

  //SELECTORES ANIDADOS
.header {
  width: $anchura;
  margin: 0 auto;

  &-primero {
    color: $color-enlace;
  }

  .segundo{
    color: $color-enlace;
  }
} 


//Aquí incluyo un mixin y le paso un parámetro. El parámetro del segundo lo calculo con una fórmula
nav{
  h1{
    @include formato-texto(2em);
  }
  p{
    @include formato-texto(pasaPXaREM(100));
  }
}

//Operadores de control de flujo
$modo-oscuro: true;

@if $modo-oscuro {
  color: $color-texto-oscuro;
  font-weight: 300;
  background-color: $color-fondo-oscuro;
}
@else {
  color: $color-texto-claro;
  font-weight: 400;
  background-color: $color-fondo-claro;
}