.contenedor-flexbox-nv1{
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Crea 4 columnas*/
.tamaño{
    flex: 25%;
    max-width: 25%;
}

/*Crea dos columnas cuando el viewport mide menos de 1000px*/
@media screen and (max-width: 1000px) {
    .tamaño {
        flex: 50%;
        max-width: 50%;
    }
}

/*Crea una columna cuando el viewport mide menos de 500px*/
@media screen and (max-width: 500px) {
    .tamaño {
        flex: 100%;
        max-width: 100%;
    }
}