/*Clamp (min value, preferred value, max value)
Clamp() works under specific conditions defined by the ‘min,’ ‘max,’ and ‘preferred’ values. When we declare a clamp function, the browser adjusts and sets itself to the ‘min’ value if the preferred value is lower than the minimum value; it sets itself to the ‘max’ value if the preferred value is higher than the ‘max’ value.
*/

h1{
  font-size: clamp(1rem, 0.7479rem + 1.5023vw, 2rem);
}

p{ 
  /*font size will get 2vw with a minimum of 10px and a maximum of 18px*/
  font-size:clamp(10px, 2vw, 18px); 
  margin:0px;
  padding:1rem;
}