body {
  margin: 0 auto;
  background-color: antiquewhite;
  width: 90vw;
}

.tarjeta {
  background-color: lightblue;
  padding: 1rem;
}

.contenedor-grid-nv1 {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
/* The elements will wrap into rows when the width is not large enough to fit them in without any overflow*/
/*auto-fit expands the CURRENTLY AVAILABLE columns so that they fill any available space*/
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/*p{
  font-size: 0.75rem;
  margin:0px;
  padding:0px;
}

h1{
  font-size: 1rem;
  text-align: center;
  padding: 50px;
}*/

h1{
  text-align: center;
}