/* Clamp takes three parameters:
    Minimum , Preferred, Maximum value

    if preferred value<minimum, then return minimum
    if preferred value>maximum, then return maximum
  
    it is common using a variable unit when declaring preferred value
*/


/*

At any flex solution: flex-wrap: wrap must be set and the following commands are applied to flex elements
At any grid solution: the following commands are applied to grid containers

First option: flex grow and shrink

 flex: 1 1 400px;

 Problems: 
    Can't control the number of items per row
    Can't control when the items wrap

Second option: grid with auto-fit and minmax
 
  repeat(auto-fit, minmax(400px, 1fr))
    
  problems:
    minimum width of 400px will produce overflow as the viewport gets narrower
    It can't be controlled the number of elements per row
    items grow, but don't shrink

Third option: flex with max
  
  showing N items per column. 0.1% is due to gaps and forces N+1th element to wrap

  flex: max(400px, 100%/(N + 1) + 0.1%) 
  grid: repeat(auto-fit,minmax(max(var(--w), 100%/(var(--n) + 1) + 0.1%),1fr))

  Problems:
    elements grow, but don't shrink (in grid)
    can't control when elements wrap

fourth option: clamp to replace max

    clamp(100%/(N + 1) + 0.1%, 400px, 100%) replaces max(400px, 100%/(N + 1) + 0.1%)

    When the element size is lower than 400px, it is set to 100%/(N+1)+0.1%. When is higher, it is set to 100% of the viewport


*/


.container {
    /* first breakpoint*/
    --w1:800px;
    --n:5;
    /* second breakpoint*/
    --w2:400px;
    --m:2;
  
    display:grid;
    grid-template-columns:
    repeat(auto-fill,
      minmax(
          clamp(
              clamp(
                  100%/(var(--n) + 1) + 0.1%, 
                  (var(--w1) - 100vw)*1000, 
                  100%/(var(--m) + 1) + 0.1%), 
              (var(--w2) - 100vw)*1000,100%), 
              1fr));
    gap:10px;
  }

  .container > p {
    background:red;
    padding: 10px;
    margin: 0px;
  }
  
  .extra {
    /* first breakpoint*/
    --w1:900px;
    --n:8;
    /* second breakpoint*/
    --w2:500px;
    --m:4;
    padding:50px;
  }

  .extra > p {
    background:green;
  }