/* componentes/_botones.scss */
@use '../global/variables'; /* Importamos variables sin usar '*' como alias */
@use '../global/funciones'; /* Importamos el mixin de oscurecer */

.boton {
  padding: variables.$padding-base;
  background-color: variables.$color-principal;
  color: variables.$color-texto;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: funciones.oscurecer(variables.$color-principal, 15%); 
  }
}
