body{
  /*width: 50%;*/
  width: 650px;
  margin: 0 auto;
  background-color: lightblue;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style: none;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.25rem;
}

h1, h2, h3{
  text-align: center;
  /*line-height: 100px;*/
  margin:0px;
  margin-bottom: 10px;
}

.contenedor-flex-nv1{
  background-color: bisque;
  margin-top: 20px;
  padding: 10px 50px 50px 50px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
 }

.borde{
  border: 3px solid lightblue;
  padding: 10px 30px 30px 30px;
  width: 80%;
/*  flex-basis: 200px;  /*cada caja mide 200px de alto (porque el eje principal de su contenedor es vertical, en columna)*/
}

.flex-contenedor-nv2 {
  display: flex;
  padding: 0;
  margin: 0;
}


.fila {
    flex-direction: row;
}

.columna {
  flex-direction: column;
}

.columna-al-reves{
  flex-direction: column-reverse;
}

.flex-item {
  background:azure;
  flex-basis: 40px;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.gap{
  gap:10px;
  /*atajo para row-gap y column-gap*/
}

.nowrap{
  /* Los elementos que no caben se desbordan, es decir, el contenedor no cambia de tamaño, así que las cajas no pueden pasar a la siguiente línea y se salen del contenedor (se desbordan) */
  flex-flow: nowrap; 
}

.wrap{
  flex-wrap: wrap;
}

.fila-al-reves{
  flex-direction: row-reverse;
}


.min-height{
  min-height: 250px;
  border: 1px solid;
}

.ai-center{
  align-items: center;
}

.ac-stretch{
  align-content: stretch;
}

.as-end{
  align-self: flex-end;
}

.orden1{
  order: 1;
}

.orden2{
  order: 2;
}

.orden3{
  order: 3;
}

.basis200px{
  flex-basis: 200px;
}

.basis100px{
  flex-basis: 100px
}

.grow2{
  flex-grow:2;
}

.grow3{
  flex-grow:3;
}

.shrink2{
  flex-shrink: 2;
}

.shrink3{
  flex-shrink: 3;
}

/*#flex-grow>ul>li:nth-child(2n){
  flex-grow:2;
}*/