body{
    /*width: 50%;*/
    width: 75%;
    margin: 0 auto;
    background-color: lightblue;
/*    background-color:antiquewhite;*/
font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

.grid{
	display: grid;
    /*height: 500px;*/
    row-gap: 1em;
    column-gap:1%;    
    /* Creación explícita de columnas. Obligo a que se creen 5 columnas, ni una más */
    grid-template-columns: 2fr repeat(3, 1fr) 2fr;  /*Se crean 6 columnas y tantas filas como sean necesarias para acomodar elementos (filas implícitas)*/
    /* Creación implícita de filas. Se crean tantas como sean necesarias para acomodar todos los elementos */
    grid-auto-rows: minmax(60px, auto); /*Las filas auto creadas son de entre 60px y el máximo de la anchura del contenedor*/
    border: 2px solid red;
}

article:nth-of-type(even){
    background-color: aquamarine;
}

article:nth-of-type(odd){
    background-color:coral;
}

article:nth-of-type(3){
    grid-column: 2/2;
    grid-row: 1/3;
}

article:nth-of-type(7){
    grid-column: 3/3;
    grid-row: 2/4;
}

h1{
    font-size: 1.5rem;
    text-align: center;
}