body{
    margin: 0 auto;
    width: 66vw;
    background-color:aliceblue;
}

article{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
  }
  

/*A CSS pseudo-element is a selector that applies style to a specific part of an element or creates new content without having to modify HTML code

Content pseudo elements
    ::after -> inserts new content after the element
    ::before -> inserts new content before the element
    content -> defines the content to be inserted. It can only be used with ::after and ::before
    attr() -> allows to access the value of certain attributes. It can only be used with ::after and ::before
*/

/*It adds content before p.especial. It isn't part of DOM, but it is displayed*/
p.especial::before{
    content: "Texto generado con ::before y content ";
    color:red;
    font-size:1.15rem;
}

/*It adds content after p.especial. It isn't part of DOM, but it is displayed*/
p.normal::after{
    content: " Texto generado con ::after y content ";
    color:blue;
    font-size: 1.15rem;
}

/*it adds the href text before a tag*/
a::before {
    content: attr(href);
}
  

/*
typographic
    ::first-letter
    ::first-line
*/

/*onle partially supported by some browsers
p:first-of-type{
    initial-letter: 2;
}*/

p:first-of-type::first-letter{
    font-family: 'Fancy Decorative', serif;
    font-size: 4rem;
}

p:first-of-type::first-line{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*
highlighting
    ::selection -> selected text with mouse
    ::target-text -> apply styling to the text displayed when an anchor fragment (i.e. a URL with an #id) is the target of an internal reference.

    Used at input and textarea. Not supported by some browsers. spellcheck="true" must be set
        ::spelling-error -> applies a style to words with spelling errors that are detected by the browser's spellchecker. 
        ::grammar-error -> applies a style to words with grammar errors that are detected by the browser's spellchecker.
*/

/*Applies style to elements selected with mouse*/
#selection ::selection {
    background: red;
    color: blue;
  }

/*Applies style to mispelled words detected by the browser's spellchecker*/
::spelling-error {
    text-decoration: underline double blue;
}

/*Applies style to grammar mistakes detected by the browser's spellchecker*/
::grammar-error {
    text-decoration: line-through double red;
}
  
/*
::marker
::backdrop -> applies styles to a dialog or modal message
::placeholder
*/

/*It applies style to markers in a list (dots)*/
::marker{
    color:green;
}

/*it applies style to the background behind a full-screen element such a modal <dialog> or a full-screen <video>*/
::backdrop{
    background: white;
    opacity: 0.6;
}

/*it applies style to the helping text (placeholder) in a input field like text or textarea*/
::placeholder{
    background-color: blanchedalmond;
}