@use 'base/reinicio';
@use 'base/tipografia';
@use 'utils/variables';
@use 'utils/mixins';
@use 'utils/funciones';
@use 'utils/media-queries';
@use 'componentes/disposicion';
@use 'componentes/lateral';
@use 'componentes/contenido';

body {
    @include reinicio.reset;
    background-color: variables.$secondary-color;
}

header {
    @include mixins.flex-center;
    background-color: variables.$primary-color;
    color: #fff;
    padding: 10px;
}
