/*Diseño "mobile first. Primero se hace la disposición para móvil y se escala para pantallas mayores*/
.tarjeta {
  background-color: lightblue;
  padding: 1rem;
}

ul{
  list-style: none;
}

.contenedor-grid-nv1 {
  padding: 10px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

p{
  font-size: 0.75rem;
  margin:0px;
  padding:0px;
}

h1{
  font-size: 1rem;
  text-align: center;
}

/* 2 columnas en pantallas mayores de 500px */
@media (min-width: 500px) {
  .contenedor-grid-nv1 { 
    grid-template-columns: repeat(2, 1fr); 
    max-width: 80vw;
  }

  p{
    font-size: 1rem;
  }

  h1{
    font-size: 1.25rem;
  }
}

/* 3 columnas en pantallas mayores de 1000px */
@media (min-width: 1000px) {
  .contenedor-grid-nv1 {
     grid-template-columns: repeat(3, 1fr); 
     max-width: 70vw;
  }

  p{
    font-size: 1.25rem;
  }

  h1{
    font-size: 1.5rem;
  }

}

