
.container {
    /* first breakpoint*/
    --w1:800px;
    --n:5;
    /* second breakpoint*/
    --w2:400px;
    --m:2;
  
    display:grid;
    grid-template-columns:
/* Clamp takes three parameters:
    Minimum value
    Preferred value
    Maximum value

The minimum value comes in handy when the preferred value is smaller than the minimum value similarly maximum value comes in handy when the preferred value is more than the maximum value. The preferred value becomes useful when it is between the minimum and maximum value.*/

      repeat(auto-fill,
        minmax(
            clamp(
                clamp(
                    100%/(var(--n) + 1) + 0.1%, 
                    (var(--w1) - 100vw)*1000, 
                    100%/(var(--m) + 1) + 0.1%), 
                (var(--w2) - 100vw)*1000,100%), 
                1fr));
    gap:10px;
  }
  
  .container > p {
    height:100px;
    background:red;
  }
  
  .extra {
    /* first breakpoint*/
    --w1:900px;
    --n:8;
    /* second breakpoint*/
    --w2:500px;
    --m:4;
    /* third  breakpoint*/
    --w3:300px;
    --p:2;
    padding:50px;
  }

  .extra > p {
    background:green;
  }