@use '../global/variables'; /* Importamos variables sin usar '*' como alias */

/* Estilos generales de la página principal */
.principal {
  background-color: variables.$color-neutro2;
  color: variables.$color-texto;
  padding: variables.$padding-base;
  font-size: variables.$tamaño-base-fuente;
}

pre {
  background: #f4f4f4;
  padding: 15px;
  border-left: 5px solid #4CAF50;
  overflow-x: auto;
}