html { font-size: 22px; }

.tarjeta {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.tarjetas {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* 2 columnas en pantallas mayores de 500px */
@media (min-width: 500px) {
  .tarjetas { grid-template-columns: repeat(2, 1fr); }
}

/* 3 columnas en pantallas mayores de 1000px */
@media (min-width: 1000px) {
  .tarjetas { grid-template-columns: repeat(3, 1fr); }
}

h1{
  font-size: 1rem;
  text-align: center;
  padding: 50px;
}