//Uso de variables
$anchura: 80%;
$font-text: 'Noto Sans', 'Open Sans', sans-serif;
$color-fondo: #a3b3de;
$color-texto: #fcf0f0;
$color-enlace: #1300ff;
$color-texto2:#c17581;
$color-texto-claro: #191919;
$color-texto-oscuro:#dedede;
$color-fondo-claro:#fafafa;
$color-fondo-oscuro: #191919;
$colores: ('primary': black, 'secondary': white);


$color_texto:rgb(248, 176, 176);
$color_fondo:rgb(181, 181, 243);  //variable global
$color_fondo: rgb(201, 255, 201) !default; //Se asigna el valor "green" SÓLO SI $color_fondo no tenía valor antes o no existía