@use '../global/mixins';
@use '../global/variables';

.contenedor-flex-vertical{
    @include mixins.contenedor-flex(column)
}

.contenedor-flex-horizontal{
    @include mixins.contenedor-flex(row)
}

.espaciado{
    gap:variables.$espacio-entre-contenedores;
}

.contenedor {
    width: 80vw;
    margin: 0 auto; /* Centra el contenedor */
}

h1, h2{
    text-align: center;
}