/*tags*/
body{
  margin: 0 auto;
  width: 66vw;
  background-color:aliceblue;
}

h1{
  font-size: 1.25rem;
}
  
/*class*/
.parrafo_cuerpo{
  background-color: red;
}

p.parrafo_cuerpo{
  border: 3px dashed blue;
}

/*id*/
#listaCompra{
  font-size: 1rem;
}

#parrafo1{
  background-color: black;
}


/*direct child of an id*/
#listaCompra > li{
  border: 3px solid green;
}


/*any link opened in a new window*/
a[target="_blank"]{
  color: beige;
}

/*tags with an attribute href containing the string 'es.wikipedia.org' (tipically links)*/
[href*='es.wikipedia.org'] {
  color: red;
}

/* tags with an attribute href starting with https (tipically links) */
[href^='https'] {
  color: green;
}

/* tags with an attribute href ending with .com (tipically links) */
[href$='.com'] {
  color: blue;
}

/* links with an attribute href ending with .pdf case insensitive*/
a[href$=".pdf" i] {
  background: red;
}

/* any tag with a disabled attribute */
[disabled]{
  cursor: not-allowed;
}

/*selectors can be grouped*/
[href*='es.wikipedia.org'],
[href^='https'],
[href$='.com']{
  color: red;
}

/*selectors can be combined*/
/*descendant. Selects paragraphs with "especial" class inside "section" elements with "parrafos" class no matter the level */
section#parrafos p.especial{
  background-color: aqua;
}

/*any descentant, no matter the level*/
#listaCompra li{
  border: 1px solid red;
}

/*first level descendants*/
#listaCompra>li{
  border: 3px solid coral;
}

/*adjacent brother*/
.normal + p{
  border: 3px dashed greenyellow;
}

/*any brother, no matter if it is adjacent or not*/
.normal ~ p{
  border: 3px dashed greenyellow;
}

/*any element*/
*{
  font-size: 1rem;
}



